.chosen-options {

  -webkit-box-shadow: 22px 0px 13px 1px rgba(214,75,54,1);
  -moz-box-shadow: 22px 0px 13px 1px rgba(214,75,54,1);
  box-shadow: 22px 0px 13px 1px rgba(143,43,26,0.07);
  padding: 35px 0 40px 0;
  margin-right: 40px;
  border-radius: 7px;
  &_title {
    padding: 0 35px 0 35px;
    font-family: ProximaNova;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    line-height: 14px;
    color: #ffffff;
    text-transform: uppercase;
  }
  &_items{

    margin-top: 40px;
    padding: 0 35px 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .chosen-options_item + .chosen-options_item {
      margin-top: 20px;
    }
  }
  &_item{

    &_icon{
      width: 53px;
      height: 53px;
      background-color: #f54f23;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.2);
      svg{
        fill: #ffffff;
      }
    }

  }
}