.swiper-slide {

}
.swiper-slide_add-custom {
    .swiper-slide_circle {
        //width: 77px;
        //height: 77px;
        //border: solid 2px #f14921;
        //background-color: #ffffff;
    }
}
.swiper-slide_circle{
    background-color: white;
    border: 1px solid black;
    //padding: 46px 0px;
    //border-radius: 50%;
    .swiper-slide_name {

    }
}
.swiper-slide._active {
    .swiper-slide_circle{
        background-color: orangered;
    }
    .swiper-slide_name {
    }
}
