.subhead {

    background-color: #2a2a2b;
    padding: 25px 0;
}
.subhead_links{
    margin: 0 auto;
    max-width: 1170px;
    display: flex;
    justify-content: space-around;
}
.subhead_link a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}