
.steps_item {
  width: 29px;
  height: 28px;
  background-color: #c9cacb;
  border-radius: 50%;

  .steps_items_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  &.current {
    background-color: #f14921;
  }
}
