.constructor {
    padding-bottom: 206px;
    background: rgb(246,246,246);

    &_inner {
        max-width: 1170px;
        margin: 0 auto;
        border-radius: 7px;
    }
    &_swiper {
        padding: 60px 0 40px 0;
        position: relative;
    }
    &_main{
        display: grid;
        grid-template-columns: repeat(24,1fr);
        .constructor_product {
            grid-column: 1 / 13;
            background-image: linear-gradient(110deg, rgba(255,96,41,1) 25%, rgba(236,64,31,1) 65%, rgba(255,255,255,1) 65%);

            border-radius: 7px  0 0 7px;
            &_inner {
                height:100%;
                display: flex;
            }

        }
        .constructor_params{
            grid-column: 13 / 24;
            background-color: #ffffff;
            border-radius: 0 7px 7px 0;
            position: relative;
            &_inner {
                padding: 30px 35px 35px 0;
                display: flex;
                flex-direction: column;
            }


        }
        .constructor_navigation{
            grid-column: 24 / 25;
        }
    }
    &_counter{
        position: absolute;
        top: 102px;
        right: 35px;
        font-family: ProximaNova;
        font-size: 12px;
        font-weight: bold;
        font-style: normal;
        line-height: 14px;
    }
}
.constructor_nextstep{
    display: flex;
    justify-content: flex-end;
}