.MuiSlider-root.MuiSlider-colorPrimary{
  .MuiSlider-rail	{
    background-color: #c8c8c8;
    height:4px;
    border-radius: 10px;

  }
  .MuiSlider-track	{
    background-color: #f14921;
    height:4px;
    border-radius: 10px;
  }
  .MuiSlider-thumb	{
    width: 12px;
    height: 13px;
    background-color: rgba(233, 233,233,1);
    box-shadow: inset 0px -0.4px 3.3px -1px rgba(0,0,0,0.3);
  }
  .MuiSlider-mark {
    width: 0;
    height: 0;
  }
  .MuiSlider-markLabel{
    font-family: ProximaNova;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.33px;
    color: #c9cacb;

  }
}
